<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CV - Csillag Bence Róbert</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/home.css">
    <script src="https://kit.fontawesome.com/9647ded655.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all">
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-font-face.min.css"
        media="all">
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-shims.min.css"
        media="all">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>

<body class="">
    <script>
        AOS.init();
    </script>

    <div class="header">

        <div class="row m-auto">
            <div class="col-12 col-lg-7 d-flex align-items-center nev text-white">
                <div class="m-auto">
                    Csillag Bence Róbert
                </div>

            </div>
            <div class="col-12 col-lg-5 d-flex align-items-center nev">
                <div class="m-auto img">
                    <img class="rounded-circle img-fluid m-auto" src="pic.jpg" alt="">
                </div>
            </div>
        </div>

    </div>
    <div class="timeline">
        <div class="row">
            <div class="col-5 text-right pl-4 mt-3" data-aos="fade-right" data-aos-offset="200"></div>
            <div class="col-2 text-center mt-3" data-aos="fade-up" data-aos-offset="200">1999</div>
            <div class="col-5 text-left pr-4 mt-3" data-aos="fade-left" data-aos-offset="200">Megláttam a napvilágot
                Győrben
            </div>
            <div class="col-12 text-center mt-3" data-aos="fade-up" data-aos-offset="200">
                <i class="fas fa-3x  fa-long-arrow-alt-down"></i>
            </div>

            <div class="col-5 text-right pl-4 mt-4" data-aos="fade-right" data-aos-offset="200">Megkezdtem iskolai
                tanulmányaimat a Szabadhegyi Közoktatási Központban</div>
            <div class="col-2 text-center mt-4" data-aos="fade-up" data-aos-offset="200">2006</div>
            <div class="col-5 text-left pr-4 mt-4" data-aos="fade-left" data-aos-offset="200"></div>
            <div class="col-12 text-center mt-3" data-aos="fade-up" data-aos-offset="200">
                <i class="fas fa-3x  fa-long-arrow-alt-down"></i>
            </div>

            <div class="col-5 text-right pl-4 mt-4" data-aos="fade-right" data-aos-offset="200">Sikeres felvételi írása
                után</div>
            <div class="col-2 text-center mt-4" data-aos="fade-up" data-aos-offset="200">2014</div>
            <div class="col-5 text-left pr-4 mt-4" data-aos="fade-left" data-aos-offset="200">felvételt nyertem a Jedlik
                Ányos Informatikai Szakgimnázium programozói szakára</div>
            <div class="col-12 text-center mt-3" data-aos="fade-up" data-aos-offset="200">
                <i class="fas fa-3x  fa-long-arrow-alt-down"></i>
            </div>

            <div class="col-5 text-right pl-4 mt-4" data-aos="fade-right" data-aos-offset="200"> Kötelező nyári
                gyakorlatomat a Vidanet Zrt.-nél töltöttem</div>
            <div class="col-2 text-center mt-4" data-aos="fade-up" data-aos-offset="200">2014-2018</div>
            <div class="col-5 text-left pr-4 mt-4" data-aos="fade-left" data-aos-offset="200">ahol a koaxiális
                rendszerben felmerülő hibák javításával foglalkoztam</div>
            <div class="col-12 text-center mt-3" data-aos="fade-up" data-aos-offset="200">
                <i class="fas fa-3x  fa-long-arrow-alt-down"></i>
            </div>

            <div class="col-5 text-right pl-4 mt-4" data-aos="fade-right" data-aos-offset="200">Szakmai informatika
                érettségim mellé megszereztem a 3143/9 FEOR számú számítógépes rendszerkarbantartó képesítést </div>
            <div class="col-2 text-center mt-4" data-aos="fade-up" data-aos-offset="200">2018</div>
            <div class="col-5 text-left pr-4 mt-4" data-aos="fade-left" data-aos-offset="200">Felsőfokú tanulmányaimat a
                Budapesti Műszaki és Gazdaságtudományi Egyetem Villamosmérnöki és Informatikai Kar mérnökinformatikus
                szakán kezdtem meg</div>
            <div class="col-12 text-center mt-3" data-aos="fade-up" data-aos-offset="200">
                <i class="fas fa-3x  fa-long-arrow-alt-down"></i>
            </div>

            <div class="col-5 text-right pl-4 mt-4 mb-4" data-aos="fade-right" data-aos-offset="200">Egyetemi
                tanulmányaimat
            </div>
            <div class="col-2 text-center mt-4 mb-4" data-aos="fade-up" data-aos-offset="200">2019</div>
            <div class="col-5 text-left pr-4 mt-4 mb-4" data-aos="fade-left" data-aos-offset="200">a győri a Széchenyi
                István Egyetemen folytattam</div>


        </div>
    </div>
    <div class="footer">
        <div class="ml-3" data-aos="fade-up" data-aos-offset="200">
            Tanult idegennyelv:
        </div>
        <div class="m-2 ml-5 mt-n1" data-aos="fade-up" data-aos-offset="200">
            Angol
        </div>
        <div class="ml-3" data-aos="fade-up" data-aos-offset="200">
            Tanult nyelvek:
        </div>
        <div class="m-2 ml-5 mt-n1" data-aos="fade-up" data-aos-offset="200">
            C/C++/C#
        </div>
        <div class="m-2 ml-5" data-aos="fade-up" data-aos-offset="200">
            HTML/CCS
        </div>
        <div class="m-2 ml-5 mb-4" data-aos="fade-up" data-aos-offset="200">
            JavaScript
        </div>


        <div class="ml-3  " data-aos="fade-right" data-aos-offset="200">
            Projektjeim:
        </div>

        <div class="row pl-2">
            <div class="col-lg-2 col-12 float" data-aos="fade-right" data-aos-offset="200">
                <a href="https://www.markmydoctor.hu/">Markmydoctor</a>
            </div>
            <div class="col-lg-10 col-12" data-aos="fade-left" data-aos-offset="200">
                Szerettem volna egy olyan oldalt készíteni, ahol orvosokat lehet értékelni és véleményezni.
                Node.js-re épült, Express.js framework-kel és mongoDB adatbázissal. Egyéb npm package-k amiket
                felhasználtam a munka során: nodemailer az email küldéshez, bcrypt a jelszó titkosításhoz, ejs render
                engine stb.
            </div>
        </div>
        <div class="row p-2">
            <div class="col-2 text-right float" data-aos="fade-right" data-aos-offset="100">
                Blog:
            </div>
            <div class="col-10 " data-aos="fade-left" data-aos-offset="100">
                Az első Angular-os projektem, amit egy videós kurzus segítségével csináltam. <a
                    href="https://github.com/csibe1999/blog">Github link</a>
            </div>

        </div>

        <div class="ml-3  " data-aos="fade-right">
            Néhány egyszerű de hasznos projekt:
        </div>
        <div class="ml-5  " data-aos="fade-right">
            online bevásárló lista: <a href="https://github.com/csibe1999/shop">link</a>
        </div>
        <div class="ml-5  " data-aos="fade-right">
            gáz, villany, víz mérőállások rögzítése <a href="https://github.com/csibe1999/data">link</a>
        </div>

        <div>

        </div>
    </div>
</body>

</html>
