<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/home.css">
    <script src="https://kit.fontawesome.com/9647ded655.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all">
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-font-face.min.css"
        media="all">
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-shims.min.css"
        media="all">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


</head>

<body class="">
    <script>
        AOS.init();
    </script>

    <div class="header">

    </div>
    <div class="timeline">

        <div class="row">
            <div class="col-5 text-right pl-5 mt-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio
                sint</div>
            <div class="col-2 text-center mt-3">1999</div>
            <div class="col-5 text-left pr-5 mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
                quam earum!
            </div>
            <div class="col-12 text-center">
                <i class="fas fa-3x text-danger fa-long-arrow-alt-down"></i>
            </div>
            <div class="col-5 text-right pl-5 mt-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio
                sint</div>
            <div class="col-2 text-center mt-3">2002</div>
            <div class="col-5 text-left pr-5 mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
                quam earum!
            </div>
            <div class="col-12 text-center">
                <i class="fas fa-3x text-danger fa-long-arrow-alt-down"></i>
            </div>
            <div class="col-5 text-right pl-5 mt-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio
                sint</div>
            <div class="col-2 text-center mt-3">2002</div>
            <div class="col-5 text-left pr-5 mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
                quam earum!Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
                quam earum!Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
                quam earum!
            </div>
            <div class="col-12 text-center">
                <i class="fas fa-3x text-danger fa-long-arrow-alt-down"></i>
            </div>
            <div class="col-5 text-right pl-5 mt-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio
                sint</div>
            <div class="col-2 text-center mt-3">2002</div>
            <div class="col-5 text-left pr-5 mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
                quam earum!
            </div>
            <div class="col-12 text-center">
                <i class="fas fa-3x text-danger fa-long-arrow-alt-down"></i>
            </div>
            <div class="col-5 text-right pl-5 mt-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio
                sint</div>
            <div class="col-2 text-center mt-3">2002</div>
            <div class="col-5 text-left pr-5 mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
                quam earum!
            </div>
            <div class="col-12 text-center">
                <i class="fas fa-3x text-danger fa-long-arrow-alt-down"></i>
            </div>
            <div class="col-5 text-right pl-5 mt-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio
                sint</div>
            <div class="col-2 text-center mt-3">2002</div>
            <div class="col-5 text-left pr-5 mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
                quam earum!
            </div>
            <div class="footer">
                Hobby munkáim
            </div>
        </div>
    </div>






</body>

</html>