.header {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%
}
@media screen and (min-width: 415px) {
  .header {
    background-image: url("img.jpg");
  }
}

@media screen and (max-width: 414px) {
  .header {
    background-image: url("mini.jpg");
  }
}
.timeline {
  background-color: lightblue;
  width: 100%;
  overflow: hidden;
  overflow-x: hidden;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.footer {
  height: 100vh;
  width: 100%;
}

@media screen and (min-width: 415px) {
  .nev {
    height: 100vh;
    font-size: 10vh;
  }
  
}

@media screen and (max-width: 414px) {
  .nev {
    height: 45vh;
    font-size: 4.5vh;
  }
}
